body {
    margin: auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}

button {
    text-wrap: nowrap;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

@keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.click-animation {
    animation: clickAnimation 0.2s ease-in-out;
}